.pineChicken p, .author p {
    color: $textGray2;
}

.sectionWrap {
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
    border-bottom: 2px solid $blogLine;
}

// Blog header
header.blog {
    background-image: url(./assets/blog-1.jpeg);
    height: 50vh;
}
// recipe section

.pineChicken {
    h2 {
        margin-bottom: 0px;
    }
    .recipeTitle {
        margin-bottom: 40px;
        p {
            margin: 0;
            color: $black2;
        }
    }
}

// Tags section

.tags {
    .sectionWrap div {
        display: flex;
        align-items: center;
    }
    p, i {
        color: $textGray;
        margin: 0 2%;
    }

}

// Start of author section

.author .sectionWrap {
    display: flex;
    max-height: 400px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-width: 25%;
    }
    .authorTxt {
        background-color: $white;
        padding: 5%;
        margin-left: 5%;
        max-width: 75%;
    }
}

// Start of related section

.related {
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        li {
        height: 100%;
        width: 32%;
        list-style-type: none;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        h4 {
            font-size: 18px;
            margin: 5% 0 0 0;
        }
        p {
            color: $textGray;
            margin-top: 1%;
            font-size: 14px;
        }
        strong {
            color: $textGray2;
            font-family: "Raleway", sans-serif;
        }
    }
}
}

// Start of reviews section
.reviews {
    h3 {
        margin: 0 0 5% 0;
    }
    .comment{ 
        display: flex;
        margin: 2% 0;
        img {
            height: 50%;
            width: 100%;
            max-width: 10%;
            object-fit: contain;
        }
        .commentTxt {
            background-color: $brownGrey;
            width: 85%;
            padding: 1% 5%;
            margin-left: 5%;
            position: relative;
            p:last-child{
                font-family: "Raleway",sans-serif;
                font-weight: bolder;
                font-size: 10px;
            }
        }
    }
    .commentTxt::before {
        content: "◀";
        position: absolute;
        left: -15px;
        font-size: 20px;
        color: $brownGrey;
    }    
}

