// Header styling
header.blog {
    background-image: url(./assets/blog-1.jpeg);
    height: 50vh;
}

// Recipe section

.pineChicken p, .author p {
    color: $textGray2;
}

.pineChicken {
    h2 {
        margin-bottom: 0px;
    }
    .recipeTitle {
        margin-bottom: 40px;
        p {
            color: $black2;
            margin: 0;
        }
    }
}

// Tags section
.tags {
    .sectionWrapper div {
        display: flex;
        align-items: center;
    }
    h3 {
        margin: 2% 0;
    }
    p, i {
        color: $textGray;
        margin: 0 2%;
    }
}

// Start of author section
.author .sectionWrapper {
    max-height: 500px;
    display: flex;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        min-width: 25%;
    }
    .authorTxt {
        background-color: $white;
        max-width: 75%;
        padding: 5%;
        margin-left: 5%;
    }
}

// Start of related section
.related {
    ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
        li {
        list-style-type: none;
        height: 100%;
        width: 32%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        h4 {
            font-size: 18px;
            margin: 5% 0 0 0;
        }
        p {
            color: $textGray;
            font-size: 14px;
            margin-top: 1%;
        }
        strong {
            color: $textGray2;
            font-family: "Raleway", sans-serif;
        }
    }
}
}

// Start of reviews section
.reviews {
    h3 {
        margin: 0 0 5% 0;
    }
    .comment{ 
        display: flex;
        margin: 2% 0;
        img {
            object-fit: contain;
            height: 50%;
            width: 100%;
            max-width: 10%;
        }
        .commentTxt {
            background-color: $brownGrey;
            position: relative;
            width: 85%;
            padding: 1% 5%;
            margin-left: 5%;
            p:last-child{
                font-size: 10px;
                font-weight: bolder;
                font-family: "Raleway",sans-serif;
            }
        }
    }
    .commentTxt::before {
        content: "◀";
        color: $brownGrey;
        font-size: 20px;
        position: absolute;
        left: -15px;
    }    
}

// Start of feedback section

.feedback, textarea {
    .sectionWrapper{
        border: none;
    }
    input, textarea {
        border: 1px $blogLine solid;
        font-size: 12px;
        font-family: "Lora", serif;
        width: 32%;
        padding: 1%;
    }
    .customerInfo {
        display: flex;
        justify-content: space-between;
    }
    #comment {
        width: 100%;
        height: 100px;
        margin: 1% 0;
    }
    button {
        padding: 3%;
    }
}


// Footer styling
.blogEmail {
    margin-top: 50%;
}


