$white: #F6F6F6;
$white2: #EEF6D1;
$brownGrey: #F2F2F2;
$blogLine: #E5E5E5;
$textGray: #999999;
$textGray2: #666666;
$textBlack: #333333;
$black: #2E2E2E;
$black2: #252525;
$blackLine: #474747;
$green: #64A604;
$green2: #DDED9A;
$purple: #A2006D;

