// Header section
header.contact {
    background-image: url(./assets/contact-1.jpeg);
    height: 50vh;
}

// General body styling
.contactWrapper {
    width: 85%;
    margin-left: auto;
}

// Start of form section
.contactMain {
    input, textarea {
        color: $textGray2;
        background-color: $white;
        border: none;
        font-size: 14px;
        font-family: "Lora", serif;
        width: 100%;
        padding: 3%;
        margin: 2% 0;
    }
    .contactWrapper, .contactNameEmail {
        display: flex;
        justify-content: space-between;
    }
    .contactNameEmail input {
        width: 49%;
    }
    form{
        margin-right: 5%;
    }
    button {
        color: $green;
        padding: 3% 0;
        background-color: #00000000;
        font-weight: bold;
    }
    .contactDetails {
        background-color: $white;
        width: 50%;
        padding: 4% 15% 5% 5%;
        h2 {
            margin-top: 0;
        }
        h3 {
            margin: 10% 0 0 0;
        }
        p, a {
            color: $textGray2;
            text-decoration: none;
            display: block;
            margin: 5% 0;
        }
        .workingHours {
            color: $black2;
        }
        strong {
            font-weight: bold;
            font-family: "Raleway", sans-serif;
        }
    }
}

// Contact section styling
.contactBanner {
    object-fit: cover;
    display: block;
    width: 100%;
}
