header.contact {
    background-image: url(./assets/contact-1.jpeg);
    height: 50vh;
}

.contactWrap {
    width: 85%;
    margin-left: auto;
}

// Start of form section
.contactMain {
    input, textarea {
        font-family: "Lora", serif;
        font-size: 14px;
        border: none;
        color: $textGray2;
        background-color: $white;
        width: 100%;
        margin: 2% 0;
        padding: 3%;
    }
    .contactWrap, .contactNameEmail {
        display: flex;
        justify-content: space-between;
    }
    .contactNameEmail input {
        width: 49%;
    }
    form{
        // width: auto;
        margin-right: 5%;
    }
    button {
        background-color: #00000000;
        color: $green;
        padding: 3% 0;
        font-weight: bold;
    }
    .contactDetails {
        background-color: $white;
        width: 50%;
        padding: 5% 15% 5% 5%;
        h2 {
            margin-top: 0;
        }
        h3 {
            margin-top: 20%;
        }
        p, a {
            color: $textGray2;
            text-decoration: none;
            margin: 10% 0;
            display: block;
        }
        .workingHours {
            color: $black2;
        }
        strong {
            font-family: "Raleway", sans-serif;
            font-weight: bold;
        }
    }
}

.contactBanner {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
