// header styling
header.home {
    height: 95vh;
    background-image: url(./assets/home-1.jpeg);
}

// Start of main content
.recipe, .dishes {
    max-height: 1100px;
}

// Start of recipe section
.recipeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.recipeWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.line {   
    border-top: #64A604 solid 4px;
    width: 15%;
    margin: 0 auto;
}

.recipeImg {
    width: 50%;
}

.foodImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

// Start of dishes section

.dishesImg {
    overflow: hidden;
}

.dishesContent {
    background-color: $brownGrey;
    max-width: 50%;
    i {
        color: $black;
        font-size:25px;
        margin: 0 10%;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        min-height: 530px;
        padding: 5%;
        margin: 0;
    }   
    li {
        display: flex;
        height: fit-content;
        width: 50%;
    }
    h3{
        margin: 0;
    }
    p {
        font-size: 14px;
        font-family: "Lora", serif;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
}


// Start of restaurant section
.restaurants {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        margin: 5% 0 2% 0;
    }
}

.restoWrapper {
    width: 60%;
    padding: 15% 0 10% 0;
    margin: 0 auto;
}

.restoImg {
    position: relative;
}

.resto {
    width: 65%;
}

.circleLogo {
    width: 20%;
    position: absolute;
    top: -30%;
    right: 10%;
}

// Start of gallery section
.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    img {
        width: 100%;
    }
}

// Start of testimonials section
.testimonial {
    background-color: $green2;
    text-align: center;
    flex-direction: column;
}


.testimonialWrapper {
    width: 64%;
    margin: 0 auto 5% auto;
}

.quote {
    position: relative;
    .fas {
        color: $white2;
        font-size: 40px;
        position: absolute;
    }
    .fasLeft {
        left: -8%;
    }
    .fasRight {
        right: -8%;
        bottom: 15%;
    }
    p {
        color: $black;
        font-size: 24px;
        font-style: italic;
        line-height: 36px;
        letter-spacing: 0.6px;
    }
}

.fa-chevron-left {
    color: $white2;
    margin: 3%;
}

.fa-chevron-right {
    color: $white;
    margin: 3%;
}





