
@media (max-width: 1100px) {
    nav {
        width: 70%;
    }
    header ul {
        padding: 0;
    }
    
}

@media (max-width: 900px) {
    .quote{
        .fasRight{
            right: -15%
        }
        .fasLeft{
            left: -15%
        }
    }
}

@media (max-width: 768px) {
    // General header styling
    .headWrapper {
        display: flex;
        flex-direction: column-reverse;
        height: 60%;
        .mainTitle {
            border: 2px solid $black;
            background-color: $white;
            align-self: center;
            padding: 1% 3%;
        }
        h1 {
            font-size: 42px;
            text-align: center;   
            height: 100%;
            width: 100%;
        }
        nav {
            justify-self: center;
            height: 10%;
            width: 20%;
            margin: 0 auto;
        }
    }
    .menu {
        display: block;
    }
    header a:not(.mainTitle, .menuContent), header p {
        display: none;
    }

    // General body styling
    h2, h3 {
        margin: 5% 0;
    }

    .sectionWrapper, .restoWrapper, .runner .runWrapper, footer .footWrapper {
        width: 85%;
    }

    // General footer styling
    footer {
        .footWrapper {
            flex-direction: column;
        }
        div {
            width: 100%;
            h2, h3 {
                margin: 2% 0;
            }
            p {
                padding: 0;
            }
        }
        input, button {
            font-size: 14px;
            height: 50px;
        }
        button {
            margin: 0;
        }
        .favicons {
            justify-content: space-evenly;
            a {
                font-size: 30px;
                margin: 5%;
            }
        }
    }

    // start of home page styling
    .recipe {
        flex-direction: column;
        .recipeContent{
            order: 1;
            max-width: none;
        }
        .recipeImg{
            order: 2;
            width: 100%;
            max-height: 400px;
        }
    }
    .dishes {
        flex-direction: column;
        max-height: none;
        .dishesContent{
            order: 1;
            max-width: none;
        }
        .dishesImg{
            order: 2;
            max-height: 400px;
        }
    }

    // Start of Blog page styling
    .tags i {
        font-size: 30px;
    }
    .customerInfo {
        flex-direction: column;
        input {
            width: 100%;
            padding: 3%;
            margin: 1% 0;
        }
    }

    .blogEmail {
        margin-top: 0
    }

    // Start of Contact page styling
    .contactMain {
        justify-content: center;

    .contactWrapper{
        flex-direction: column;
        width: 100%;
        margin: 0;
        h2, h3, p, a, button {
            margin: 3% 0;
        }
        form {
            width: 100%;
            padding: 0 10%;
        }
        .contactDetails {
            width: 100%;
            padding: 0 10%;
        }
    }
}
}

@media (max-width: 600px) {
    // Blog page styling
    .related ul {
        flex-direction: column;
        li {
            width: 100%;
            img {
                object-fit: contain;
                display: block;
            }
        }
    }
    .author .sectionWrapper {
        flex-direction: column;
        max-height: none;
        .sallyLucas {
            object-position: top;
            max-height: 200px;
        }
        .authorTxt {
            max-width: none;
            margin: 0;
        }
    }

}


@media (max-width: 490px) {
    // Home page styling
    .dishes {
        max-height: none;
        .dishesContent i {
            font-size: 20px;
            margin-right: 0;
        }
    }
    .gallery {
        grid-template-columns: auto auto;
    }

    // Contact page styling
    .contactMain .contactNameEmail {
        flex-direction: column;
        input {
            width: 100%;
            padding: 5%;
        }
    }

}

