
@media (max-width: 1100px) {
    nav {
        width: 70%;
    }
    header ul {
        padding: 0;
    }
    
}
@media (max-width: 900px) {
    .quote{
        .fasRight{
            right: -15%
        }
        .fasLeft{
            left: -15%
        }
    }
}

@media (max-width: 768px) {
    // General header styling
    .headWrapper {
        display: flex;
        flex-direction: column-reverse;
        height: 60%;
        .mainTitle {
            background-color: $white;
            padding: 2%;
            border: 2px solid $black;
            align-self: center;
        }
        h1 {
            text-align: center;   
            font-size: 42px;
            height: 100%;
            width: 100%;
        }
        nav {
            width: 20%;
            margin: 0 auto;
            height: 10%;
            justify-self: center;
        }
    }
    .menu {
        display: block;
    }
    header a:not(.mainTitle, .menuContent), header p {
        display: none;
    }

    .sectionWrapper, .restoWrapper, .runner .runWrapper, footer .footWrapper {
        width: 85%;
    }

    // General footer styling
    footer {
        h3, h4 {
            font-size: 18px;
        }
        form {
            flex-direction: column;
            input, button {
                width: 100%;
                padding: 4%;
                margin-bottom: 4%;
            }
        }
    }

    // start of home page styling
    .recipe {
        flex-direction: column;
        .recipeContent{
            order: 1;
            max-width: none;
        }
        .recipeImg{
            order: 2;
            max-height: 400px;
            width: 100%;
        }
    }
    .dishes {
        flex-direction: column;
        max-height: none;
        .dishesContent{
            order: 1;
            max-width: none;
        }
        .dishesImg{
            order: 2;
            max-height: 400px;
        }
    }
    // Start of Contact page styling
    .contactMain {
        justify-content: center;

    
    .contactWrapper{
        flex-direction: column;
        margin: 0;
        width: 100%;
        h2, h3, p, a, button {
            margin: 3% 0;
        }
        form {
            width: 100%;
            padding: 0 10%;
        }
        .contactDetails {
            width: 100%;
            padding: 0 10%;
        }
    }
}
}

@media (max-width: 490px) {
    // General footer styling
    footer {
        .footWrapper {
            flex-direction: column;
        }
        div {
            width: 100%;
            h2, h3 {
                margin: 2% 0;
            }
            p {
                padding: 0;
            }
        }
        .favicons {
            justify-content: space-evenly;
            a {
                margin: 5%;
                font-size: 30px;
            }
        }
    }
    

    // Home page styling
    .dishes {
        max-height: none;
        .dishesContent i {
            margin-right: 0;
            font-size: 20px;
        }
    }
    .gallery {
        grid-template-columns: auto auto;
    }

    // Contact page styling
    .contactMain .contactNameEmail {
        flex-direction: column;
        input {
            width: 100%;
            padding: 5%;
        }
    }

}

