@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

span {
  color: #64A604;
}

header.home {
  height: 95vh;
  background-image: url(./assets/home-1.jpeg);
}

header {
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

.headWrapper {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  color: #2E2E2E;
  font-size: 33px;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: 1.1px;
  max-width: 25%;
}

nav {
  width: 60%;
  margin-top: 15px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: #2E2E2E;
}

.shopping {
  position: relative;
}
.shopping p {
  font-size: 8px;
  position: absolute;
  right: -8px;
  bottom: -8px;
  border-radius: 50%;
  color: #F6F6F6;
  background-color: #64A604;
  line-height: 15px;
  padding: 0px 5px;
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe, .dishes {
  max-height: 1100px;
}

.recipeContent {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipeWrap {
  width: 80%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.line {
  width: 15%;
  margin: 0 auto;
  border-top: #64A604 solid 4px;
}

p {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

button {
  background-color: #64A604;
  color: #F6F6F6;
  border: none;
  font-size: 14px;
  padding: 3% 6%;
}

.recipeImg {
  width: 50%;
}

.foodImg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.dishesContent {
  max-width: 50%;
  background-color: #F2F2F2;
}
.dishesContent i {
  margin: 0 10%;
  font-size: 25px;
}
.dishesContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 5%;
  height: 100%;
  min-height: 530px;
}
.dishesContent li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dishesContent h3 {
  margin: 0;
}
.dishesContent p {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.restoWrap {
  width: 60%;
  padding: 15% 0 10% 0;
  margin: 0 auto;
}

.restoImg {
  position: relative;
}

.resto {
  width: 65%;
}

.circleLogo {
  position: absolute;
  width: 20%;
  top: -30%;
  right: 10%;
}

h2 {
  margin-top: 10%;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
}
.gallery img {
  width: 100%;
}

.testimonial {
  background-color: #DDED9A;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.testimonialWrap {
  width: 70%;
  margin: 0 auto 5% auto;
}

.quote {
  position: relative;
}
.quote .fas {
  position: absolute;
  color: #EEF6D1;
  font-size: 30px;
}
.quote .fasLeft {
  left: -5%;
}
.quote .fasRight {
  right: -5%;
  bottom: 15%;
}
.quote p {
  font-style: italic;
}

.fa-chevron-left {
  color: #EEF6D1;
  margin: 3%;
}

.fa-chevron-right {
  color: #F6F6F6;
  margin: 3%;
}

footer {
  color: #F6F6F6;
  background-color: #2E2E2E;
}
footer .footWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 77%;
  padding: 3% 0;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer div {
  width: 30%;
}
footer h4 {
  color: #64A604;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  margin: 5% 0;
}
footer p, footer form {
  border-bottom: 1px solid #474747;
  color: #999999;
  padding-bottom: 5%;
  font-size: 12px;
}
footer p:last-child {
  border: none;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer input {
  background-color: #535353;
  border: none;
  color: #999999;
  height: 100%;
  font-family: "Lora", serif;
  font-style: italic;
  padding: 3% 6%;
  width: 75%;
}
footer button {
  width: 25%;
}
footer .favicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .favicons i {
  margin: 20%;
}

.runner {
  background-color: #252525;
  color: #EEF6D1;
  margin: 0;
  padding: 1%;
}
.runner .runWrap {
  width: 77%;
  margin: 0 auto;
}
.runner p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #999999;
  margin: 0;
}

.pineChicken p, .author p {
  color: #666666;
}

.sectionWrap {
  width: 70%;
  margin: 0 auto;
  padding: 3% 0;
  border-bottom: 2px solid #E5E5E5;
}

header.blog {
  background-image: url(./assets/blog-1.jpeg);
  height: 50vh;
}

.pineChicken h2 {
  margin-bottom: 0px;
}
.pineChicken .recipeTitle {
  margin-bottom: 40px;
}
.pineChicken .recipeTitle p {
  margin: 0;
  color: #252525;
}

.tags .sectionWrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tags p, .tags i {
  color: #999999;
  margin: 0 2%;
}

.author .sectionWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 400px;
}
.author .sectionWrap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 25%;
}
.author .sectionWrap .authorTxt {
  background-color: #F6F6F6;
  padding: 5%;
  margin-left: 5%;
  max-width: 75%;
}

.related ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.related ul li {
  height: 100%;
  width: 32%;
  list-style-type: none;
}
.related ul li img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related ul li h4 {
  font-size: 18px;
  margin: 5% 0 0 0;
}
.related ul li p {
  color: #999999;
  margin-top: 1%;
  font-size: 14px;
}
.related ul li strong {
  color: #666666;
  font-family: "Raleway", sans-serif;
}

.reviews h3 {
  margin: 0 0 5% 0;
}
.reviews .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}
.reviews .comment img {
  height: 50%;
  width: 100%;
  max-width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reviews .comment .commentTxt {
  background-color: #F2F2F2;
  width: 85%;
  padding: 1% 5%;
  margin-left: 5%;
  position: relative;
}
.reviews .comment .commentTxt p:last-child {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 10px;
}
.reviews .commentTxt::before {
  content: "◀";
  position: absolute;
  left: -15px;
  font-size: 20px;
  color: #F2F2F2;
}