@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #2E2E2E;
  font-size: 46px;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: 1.1px;
}

h2 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  margin-top: 10%;
  line-height: 36px;
}

h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin: 5% 0 10% 0;
}

p {
  font-size: 14px;
  font-family: "Lora", serif;
  line-height: 24px;
  letter-spacing: 0.3px;
}

button {
  color: #F6F6F6;
  background-color: #64A604;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 3% 6%;
  margin-bottom: 10%;
}
button a {
  text-decoration: none;
  color: #F6F6F6;
}

button:hover, button:focus {
  background-color: #A2006D;
}

header {
  font-family: "Raleway", sans-serif;
  background-size: cover;
}
header a {
  text-decoration: none;
}
header a:hover, header a:focus, header h1:hover, header h1:focus {
  color: #64A604;
}

.headWrapper {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  width: 50%;
  margin-top: 15px;
}
nav ul {
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav a {
  color: #2E2E2E;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  color: #A2006D;
}

.menu {
  color: #2E2E2E;
  border-top: 3px solid #2E2E2E;
  border-bottom: 3px solid #2E2E2E;
  text-align: center;
  font-size: 30px;
  display: none;
  width: 125px;
  padding: 5px 0;
}

.menucontent {
  display: none;
  position: absolute;
  top: 1000px;
}

.menu:hover, .menu:focus, .menu:focus-within {
  color: #64A604;
  z-index: 10;
}
.menu:hover .menuContent, .menu:focus .menuContent, .menu:focus-within .menuContent {
  display: block;
}
.menu:hover a, .menu:focus a, .menu:focus-within a {
  color: #2E2E2E;
  background-color: #F6F6F6;
  border: 2px solid #2E2E2E;
  font-size: 20px;
  text-align: left;
  display: block;
  min-width: 125px;
  margin: 5px 0;
  padding: 6%;
}
.menu:hover a:hover, .menu:hover a:focus, .menu:focus a:hover, .menu:focus a:focus, .menu:focus-within a:hover, .menu:focus-within a:focus {
  color: #A2006D;
}

span {
  color: #64A604;
}

.shopping {
  position: relative;
}
.shopping p {
  color: #F6F6F6;
  background-color: #64A604;
  border-radius: 50%;
  font-size: 8px;
  line-height: 15px;
  position: absolute;
  right: -8px;
  bottom: -8px;
  padding: 0px 5px;
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionWrapper {
  border-bottom: 2px solid #E5E5E5;
  width: 70%;
  padding: 3% 0;
  margin: 0 auto;
}

footer {
  color: #F6F6F6;
  background-color: #2E2E2E;
}
footer .footWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  padding: 3% 0;
  margin: 0 auto;
}
footer div {
  width: 30%;
}
footer h4 {
  color: #64A604;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  margin: 5% 0;
}
footer p, footer form {
  color: #999999;
  border-bottom: 1px solid #474747;
  font-size: 13px;
  padding-bottom: 5%;
}
footer p:last-child {
  border: none;
}
footer .subscribeParagraph {
  border: none;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer input {
  color: #999999;
  background-color: #535353;
  border: none;
  font-style: italic;
  font-family: "Lora", serif;
  height: 100%;
  width: 75%;
  padding: 4% 6%;
}
footer button {
  width: 25%;
  padding: 3.4%;
}
footer .favicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .favicons a {
  color: #F6F6F6;
  margin: 20%;
}

.runner {
  color: #EEF6D1;
  background-color: #252525;
  padding: 1%;
  margin: 0;
}
.runner .runWrapper {
  width: 70%;
  margin: 0 auto;
}
.runner p {
  color: #999999;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

header.home {
  height: 95vh;
  background-image: url(./assets/home-1.jpeg);
}

.recipe, .dishes {
  max-height: 1100px;
}

.recipeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
}

.recipeWrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.line {
  border-top: #64A604 solid 4px;
  width: 15%;
  margin: 0 auto;
}

.recipeImg {
  width: 50%;
}

.foodImg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.dishesContent {
  background-color: #F2F2F2;
  max-width: 50%;
}
.dishesContent i {
  font-size: 25px;
  margin: 0 10%;
}
.dishesContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 530px;
  padding: 5%;
  margin: 0;
}
.dishesContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}
.dishesContent h3 {
  margin: 0;
}
.dishesContent p {
  font-size: 14px;
  font-family: "Lora", serif;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.restaurants {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restoWrapper {
  width: 60%;
  padding: 15% 0 10% 0;
  margin: 0 auto;
}

.restoImg {
  position: relative;
}

.resto {
  width: 65%;
}

.circleLogo {
  width: 20%;
  position: absolute;
  top: -30%;
  right: 10%;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
}
.gallery img {
  width: 100%;
}

.testimonial {
  background-color: #DDED9A;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonialWrapper {
  width: 64%;
  margin: 0 auto 5% auto;
}

.quote {
  position: relative;
}
.quote .fas {
  color: #EEF6D1;
  font-size: 40px;
  position: absolute;
}
.quote .fasLeft {
  left: -8%;
}
.quote .fasRight {
  right: -8%;
  bottom: 15%;
}
.quote p {
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0.6px;
}

.fa-chevron-left {
  color: #EEF6D1;
  margin: 3%;
}

.fa-chevron-right {
  color: #F6F6F6;
  margin: 3%;
}

header.blog {
  background-image: url(./assets/blog-1.jpeg);
  height: 50vh;
}

.pineChicken p, .author p {
  color: #666666;
}

.pineChicken h2 {
  margin-bottom: 0px;
}
.pineChicken .recipeTitle {
  margin-bottom: 40px;
}
.pineChicken .recipeTitle p {
  color: #252525;
  margin: 0;
}

.tags .sectionWrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tags h3 {
  margin: 2% 0;
}
.tags p, .tags i {
  color: #999999;
  margin: 0 2%;
}

.author .sectionWrapper {
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.author .sectionWrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 25%;
}
.author .sectionWrapper .authorTxt {
  background-color: #F6F6F6;
  max-width: 75%;
  padding: 5%;
  margin-left: 5%;
}

.related ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.related ul li {
  list-style-type: none;
  height: 100%;
  width: 32%;
}
.related ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.related ul li h4 {
  font-size: 18px;
  margin: 5% 0 0 0;
}
.related ul li p {
  color: #999999;
  font-size: 14px;
  margin-top: 1%;
}
.related ul li strong {
  color: #666666;
  font-family: "Raleway", sans-serif;
}

.reviews h3 {
  margin: 0 0 5% 0;
}
.reviews .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}
.reviews .comment img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50%;
  width: 100%;
  max-width: 10%;
}
.reviews .comment .commentTxt {
  background-color: #F2F2F2;
  position: relative;
  width: 85%;
  padding: 1% 5%;
  margin-left: 5%;
}
.reviews .comment .commentTxt p:last-child {
  font-size: 10px;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}
.reviews .commentTxt::before {
  content: "◀";
  color: #F2F2F2;
  font-size: 20px;
  position: absolute;
  left: -15px;
}

.feedback .sectionWrapper, textarea .sectionWrapper {
  border: none;
}
.feedback input, .feedback textarea, textarea input, textarea textarea {
  border: 1px #E5E5E5 solid;
  font-size: 12px;
  font-family: "Lora", serif;
  width: 32%;
  padding: 1%;
}
.feedback .customerInfo, textarea .customerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback #comment, textarea #comment {
  width: 100%;
  height: 100px;
  margin: 1% 0;
}
.feedback button, textarea button {
  padding: 3%;
}

.blogEmail {
  margin-top: 50%;
}

header.contact {
  background-image: url(./assets/contact-1.jpeg);
  height: 50vh;
}

.contactWrapper {
  width: 85%;
  margin-left: auto;
}

.contactMain input, .contactMain textarea {
  color: #666666;
  background-color: #F6F6F6;
  border: none;
  font-size: 14px;
  font-family: "Lora", serif;
  width: 100%;
  padding: 3%;
  margin: 2% 0;
}
.contactMain .contactWrapper, .contactMain .contactNameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactMain .contactNameEmail input {
  width: 49%;
}
.contactMain form {
  margin-right: 5%;
}
.contactMain button {
  color: #64A604;
  padding: 3% 0;
  background-color: #00000000;
  font-weight: bold;
}
.contactMain .contactDetails {
  background-color: #F6F6F6;
  width: 50%;
  padding: 5% 15% 5% 5%;
}
.contactMain .contactDetails h2 {
  margin-top: 0;
}
.contactMain .contactDetails h3 {
  margin-top: 20%;
}
.contactMain .contactDetails p, .contactMain .contactDetails a {
  color: #666666;
  text-decoration: none;
  display: block;
  margin: 10% 0;
}
.contactMain .contactDetails .workingHours {
  color: #252525;
}
.contactMain .contactDetails strong {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.contactBanner {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
}

@media (max-width: 1100px) {
  nav {
    width: 70%;
  }

  header ul {
    padding: 0;
  }
}
@media (max-width: 900px) {
  .quote .fasRight {
    right: -15%;
  }
  .quote .fasLeft {
    left: -15%;
  }
}
@media (max-width: 768px) {
  .headWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 60%;
  }
  .headWrapper .mainTitle {
    border: 2px solid #2E2E2E;
    background-color: #F6F6F6;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 1% 3%;
  }
  .headWrapper h1 {
    font-size: 42px;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .headWrapper nav {
    justify-self: center;
    height: 10%;
    width: 20%;
    margin: 0 auto;
  }

  .menu {
    display: block;
  }

  header a:not(.mainTitle, .menuContent), header p {
    display: none;
  }

  h2, h3 {
    margin: 5% 0;
  }

  .sectionWrapper, .restoWrapper, .runner .runWrapper, footer .footWrapper {
    width: 85%;
  }

  footer .footWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer div {
    width: 100%;
  }
  footer div h2, footer div h3 {
    margin: 2% 0;
  }
  footer div p {
    padding: 0;
  }
  footer input, footer button {
    font-size: 14px;
  }
  footer button {
    padding: 4.2%;
    margin: 0;
  }
  footer .favicons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .favicons a {
    font-size: 30px;
    margin: 5%;
  }

  .recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipe .recipeContent {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: none;
  }
  .recipe .recipeImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    max-height: 400px;
  }

  .dishes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
  }
  .dishes .dishesContent {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: none;
  }
  .dishes .dishesImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-height: 400px;
  }

  .tags i {
    font-size: 30px;
  }

  .customerInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customerInfo input {
    width: 100%;
    padding: 3%;
    margin: 1% 0;
  }

  .blogEmail {
    margin-top: 0;
  }

  .contactMain {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactMain .contactWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .contactMain .contactWrapper h2, .contactMain .contactWrapper h3, .contactMain .contactWrapper p, .contactMain .contactWrapper a, .contactMain .contactWrapper button {
    margin: 3% 0;
  }
  .contactMain .contactWrapper form {
    width: 100%;
    padding: 0 10%;
  }
  .contactMain .contactWrapper .contactDetails {
    width: 100%;
    padding: 0 10%;
  }
}
@media (max-width: 600px) {
  .related ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .related ul li {
    width: 100%;
  }
  .related ul li img {
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }

  .author .sectionWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
  }
  .author .sectionWrapper .sallyLucas {
    -o-object-position: top;
       object-position: top;
    max-height: 200px;
  }
  .author .sectionWrapper .authorTxt {
    max-width: none;
    margin: 0;
  }
}
@media (max-width: 490px) {
  .dishes {
    max-height: none;
  }
  .dishes .dishesContent i {
    font-size: 20px;
    margin-right: 0;
  }

  .gallery {
    grid-template-columns: auto auto;
  }

  .contactMain .contactNameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain .contactNameEmail input {
    width: 100%;
    padding: 5%;
  }
}